@model NumModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <input type="button"
           value="Generate next num"
           onclick="location.href='@Url.Action("Index", "Home")'" />
    
    <div id="number"></div>
    
    <script>
        number = document.getElementById('number');
        number.innerHTML = "<h3>@Model.Number</h3>";
    </script>

    <input type="button"
           value="Show pronunciation"
           onclick="press()" />

    <div id="pronunciation"></div>
    
    <script>
        isVisible = false;

        press = () => {
            if (isVisible) {
                number = document.getElementById('pronunciation');
                number.innerHTML = "<h3></h3>";
                isVisible = false;
            } else {
                number = document.getElementById('pronunciation');
                number.innerHTML = "<h3>@Model.Pronunciation</h3>";
                isVisible = true;
            }
        }
    </script>
    
    
</div>
